.wrapper {
    position: relative;
    width: 900px;
    height: 500px;
}

.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

body {
	margin: 20px;
	font: 1.5em/1.2 sans-serif;
	text-align: center;
  	background-color: black;
  	color: #4CAF50; 
}

figure {
	display: inline-block;
	margin: 0px;
	vertical-align: top;
}

figcaption {
	text-align: left;
	font-weight: bold;
}

#fig2 {
	text-align: right;
	font-weight: bold;
	align: right
}

video, canvas {
	width: 900px;
	height: 500px;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
	border-radius: 12px;
}

canvas {
	image-rendering: pixelated;
}

button {
  background-color: #2118a8; /* Green */
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#button4 {
	background-color: #d41414; /* Red */
  }

  #button5 {
	background-color: #d41414; /* Red */
  }

  #button6 {
	background-color: #d41414; /* Red */
  }