body {
	margin: 20px;
  font: 1.5em/1.2 sans-serif;
  font-family: 'Turret Road', cursive;
  font-weight: 900;
	text-align: center;
  background-color: black;
  color: #ff00dd; 
}

figure {
	display: inline-block;
	margin: 0px;
	vertical-align: top;
}

video, canvas {
	width: 900px;
	height: 500px;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
  border-radius: 12px;
  image-rendering: pixelated;
}

.center {
  position: relative;
  width: 1100px;
  height: auto;
  padding: 0;
  margin: auto;
  display: block;
  background-color: #333;
}

.wrapper {
  position: relative;
  width: 900px;
  height: 500px;
  padding: 0;
  margin: auto;
  display: block;
  text-align: left;

}

.wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
}

button {
  background-color: #ff00dd;
  border-radius: 50px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-family: 'Turret Road', cursive;
  font-size: 20px;
}

button.active {
  background-color: #333;
}

button:hover {
  background-color: #333;
  color: #ff00dd;
}

#playAudio2 {

  position: absolute;
    top: 444px;
    left: 0px;
    width: 100px;
    height: 100px;
    border-radius: 0%;
    font-size:20px;
    font-weight: 900;
    padding: 5px 5px;
    text-align:start;
    background-color: #ff00dd;
    color: #ffffff;
}

#playAudio2:hover {
  background-color: #333;
  color: #ff00dd;
}


#playAudio3 {

  position: absolute;
    top: 344px;
    left: 0px;
    width: 100px;
    height: 100px;
    border-radius: 0%;
    font-size:20px;
    padding: 5px 5px;
    text-align:start;
    background-color: #ff00dd;
    color: #ffffff;
}

#playAudio3:hover {
  background-color: #333;
  color: #ff00dd;
}

#effect1 {

  position: absolute;
    top: 444px;
    left: 1000px;
    width: 100px;
    height: 100px;
    border-radius: 0%;
    font-size:20px;
    font-weight: 900;
    padding: 5px 5px;
    text-align:start;
    background-color: #ff00dd;
    color: #ffffff;
}

#effect1:hover {
  background-color: #333;
  color: #ff00dd;
}

#effect1 {

  position: absolute;
    top: 444px;
    left: 1000px;
    width: 100px;
    height: 100px;
    border-radius: 0%;
    font-size:20px;
    font-weight: 900;
    padding: 5px 5px;
    text-align:start;
    background-color: #ff00dd;
    color: #ffffff;
}

#effect1:hover {
  background-color: #333;
  color: #ff00dd;
}

#effect2 {

  position: absolute;
    top: 344px;
    left: 1000px;
    width: 100px;
    height: 100px;
    border-radius: 0%;
    font-size:20px;
    font-weight: 900;
    padding: 5px 5px;
    text-align:start;
    background-color: #ff00dd;
    color: #ffffff;
}

#effect2:hover {
  background-color: #333;
  color: #ff00dd;
}

#effect3 {

  position: absolute;
    top: 244px;
    left: 1000px;
    width: 100px;
    height: 100px;
    border-radius: 0%;
    font-size:20px;
    font-weight: 900;
    padding: 5px 5px;
    text-align:start;
    background-color: #ff00dd;
    color: #ffffff;
}

#effect3:hover {
  background-color: #333;
  color: #ff00dd;
}

#effect4 {

  position: absolute;
    top: 144px;
    left: 1000px;
    width: 100px;
    height: 100px;
    border-radius: 0%;
    font-size:20px;
    font-weight: 900;
    padding: 5px 5px;
    text-align:start;
    background-color: #ff00dd;
    color: #ffffff;
}

#effect4:hover {
  background-color: #333;
  color: #ff00dd;
}


#helpButton {
  padding: 10px 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  top: 3px;
  right: 3px;
  font-size: 22px;
 
}

.content {
  padding: 18px;
  display: none;
  float: inline-end;
  overflow: hidden;
  color:rgb(255, 255, 255);
  font-size: 17px;
  font-variant: normal;
  text-align: left;
  margin: 0 auto;
  width: auto;
  max-width:300px;
  height: auto;
  background: rgb(0, 0, 0);
  color: #ff00dd;
  background-size: cover;
}
  
.dots {
  font-size: 13px;
  text-align: left;
  vertical-align: middle;    
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
    
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 20px;
  width: 600px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(197, 95, 184);
  color: white;
}
    


#containerHidden {

  font-size: 0px;
  color: #ffffff00;
  }



  .slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    vertical-align: middle;
    width: 15%; /* Full-width */
    height: 25px; /* Specified height */
    background: #ff00dd; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    border-radius: 50px;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 5; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 59px;
  }